# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled python scripts
*.pyc

# Cruft from emacs
*#
*~

# Cruft from scons
.scons*

# Cruft from sed
*.cce
*.he
